@charset "UTF-8";
/**
*
* Colors
*
**/
/* Blue */
/* Grey */
/* Green */
/* Red */
/* Orange */
/**
*
* Variables CSS Elements
*
**/
/** FONTS **/
/**** HEADER ****/
/*** NAV ***/
/*** MENU OPEN ***/
/**** ARTICLES ****/
/*** ANIMATION ***/
/*** PADDING ***/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
svg,
hr {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  font-weight: normal; }

/**
*
* Mixins CSS Elements
*
**/
/* Transform */
/* Box Shadow */
/* Text Shadow */
/* Border Radius */
/* Box Sizing */
/* Transition */
/* Transform Origin */
/* Translate */
/* Rotate */
/* Content-Columns */
/* Filters */
/* Hyphens (traits d'union) */
/* 
* 
* Animation 
*
*/
/* Animation */
/* Placeholder */
/* 
*
* Fonts 
* 
*/
/**
*
* Commons CSS Elements
*
**/
/***** Suprression CSS de base *****/
a:focus,
a:hover,
a:active,
button:focus,
button:hover,
button:active,
:focus {
  outline: 0 !important; }

.form-control:focus {
  -o-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent; }

button::-moz-focus-inner {
  border: 0 !important; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.no-padding {
  padding: 0; }

/***** Strong *****/
strong {
  font-weight: bold; }

/***** Background Opacity Highlighted *****/
.imgOpacity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7; }

/***** Title Decoration *****/
.title_decoration {
  position: relative; }
  .title_decoration:after {
    width: 30%;
    content: "";
    height: 5px;
    position: absolute;
    bottom: 1rem;
    left: 0;
    background-color: #fff; }
  .title_decoration_center:after {
    margin: 0 auto;
    right: 0; }

/***** Arrow Down Animation *****/
/***** Arrow Down Decoration *****/
/** Animation **/
@keyframes scrollDown {
  25% {
    opacity: 1; }
  33% {
    opacity: 1;
    -o-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  67% {
    opacity: 1;
    -o-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 0;
    -o-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -moz-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5); } }
/**
*
* Fonts
*
**/
@font-face {
  font-family: "RobotoItalic";
  src: url("../../fonts/Roboto-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoLight";
  src: url("../../fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoBold";
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoMedium";
  src: url("../../fonts/Roboto-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoRegular";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype"); }
/**
*
* Fonts Custom
*
**/
@font-face {
  font-family: "alaska";
  src: url("../fonts/alaska.eot");
  src: url("../fonts/alaska.eot?#iefix") format("embedded-opentype"), url("../fonts/alaska.woff") format("woff"), url("../fonts/alaska.ttf") format("truetype"), url("../fonts/alaska.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "alaska" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "alaska" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
*
* Thème Default
*
**/
* {
  box-sizing: border-box; }

html,
body {
  width: 100%; }
  html.no-scroll,
  body.no-scroll {
    overflow: hidden !important; }

html {
  font-size: 100%; }
  html body {
    position: relative;
    font-size: 13px;
    line-height: 1.2;
    font-family: "RobotoRegular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%; }
    html body h1,
    html body h2,
    html body h3 {
      font-family: "RobotoBold", sans-serif;
      letter-spacing: 0.2rem; }
    html body h1 {
      font-size: calc(32rem / 13);
      text-transform: uppercase; }
    html body h2 {
      font-size: calc(28rem / 13); }
    html body h3 {
      font-size: calc(20rem / 13); }
    html body h4 {
      font-size: calc(16rem / 13);
      font-family: "RobotoMedium", sans-serif; }
    html body a {
      display: inline-block;
      text-decoration: none;
      font-family: "RobotoRegular", sans-serif; }
      html body a:hover {
        text-decoration: none; }
    html body p {
      font-size: calc(13em / 13);
      line-height: calc(20 / 13); }
    html body .clearfix {
      display: block; }
      html body .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0; }
    html body #menu_open {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 101;
      height: 100vh;
      width: 25rem;
      max-width: 80%;
      background-color: #248EB9;
      -o-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.75s ease;
      transition: all 0.75s ease; }
      html body #menu_open:before {
        -o-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
        content: ""; }
      html body #menu_open .fas {
        color: #fff;
        font-size: 2rem; }
        html body #menu_open .fas.fa-times {
          position: absolute;
          top: 1.5rem;
          right: 3rem; }
        html body #menu_open .fas#cross_close_menu {
          cursor: pointer;
          -webkit-transition: color 0.5s ease;
          transition: color 0.5s ease; }
          html body #menu_open .fas#cross_close_menu:hover {
            color: #0e3c54; }
      html body #menu_open .nav {
        padding: 4rem 3rem; }
        html body #menu_open .nav li {
          padding: 0.5rem 0 1rem 0;
          border-bottom: 1px #fff solid;
          position: relative; }
          html body #menu_open .nav li:last-child {
            border-bottom: transparent; }
          html body #menu_open .nav li:before, html body #menu_open .nav li a {
            -webkit-transition: color 0.5s ease;
            transition: color 0.5s ease; }
          html body #menu_open .nav li:before {
            font-size: 1.2rem;
            position: absolute;
            left: 0;
            top: 1.2rem; }
          html body #menu_open .nav li a {
            padding: 0 0 0 2.5rem;
            color: #fff;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.15rem; }
          html body #menu_open .nav li:hover:before, html body #menu_open .nav li:hover a {
            color: #0e3c54; }
    html body.show-menu #main-wrapper {
      opacity: 0.8; }
    html body.show-menu #menu_open {
      -o-transform: translateX(0);
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -o-box-shadow: -1px 0 15px 1px #0e3c54;
      -moz-box-shadow: -1px 0 15px 1px #0e3c54;
      -webkit-box-shadow: -1px 0 15px 1px #0e3c54;
      box-shadow: -1px 0 15px 1px #0e3c54; }
    html body #main-wrapper {
      background: #fff;
      min-height: 62vh;
      z-index: 1;
      transition: ease 1s opacity;
      /**
      *
      * Commons Articles Elements
      *
      **/
      /** Animation **/
      /**
      *
      * Commons CSS Comments
      *
      **/ }
      html body #main-wrapper #main-header {
        width: 100%;
        z-index: 100;
        position: fixed; }
        html body #main-wrapper #main-header #menu {
          background-color: transparent;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          html body #main-wrapper #main-header #menu .container-fluid {
            border-bottom: 2px solid white;
            margin: 0 1rem;
            padding: 1rem 0;
            -webkit-transition: padding 0.5s ease;
            transition: padding 0.5s ease; }
            html body #main-wrapper #main-header #menu .container-fluid .author_name,
            html body #main-wrapper #main-header #menu .container-fluid button {
              color: #fff;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
            html body #main-wrapper #main-header #menu .container-fluid .author_name {
              font-size: 1.8rem;
              text-transform: uppercase;
              font-family: 'RobotoBold',sans-serif;
              opacity: 1;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
              -o-text-shadow: 2px 2px #0e3c54 1px 2px rgba(0, 0, 0, 0.1);
              -moz-text-shadow: 2px 2px #0e3c54 1px 2px rgba(0, 0, 0, 0.1);
              -webkit-text-shadow: 2px 2px #0e3c54 1px 2px rgba(0, 0, 0, 0.1);
              text-shadow: 2px 2px #0e3c54 1px 2px rgba(0, 0, 0, 0.1); }
            html body #main-wrapper #main-header #menu .container-fluid button {
              padding: 0;
              background-color: transparent;
              border: transparent;
              cursor: pointer;
              -webkit-transition: color 0.25s ease;
              transition: color 0.25s ease; }
              html body #main-wrapper #main-header #menu .container-fluid button span {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: 'RobotoMedium',sans-serif; }
                html body #main-wrapper #main-header #menu .container-fluid button span:before {
                  padding: 0 1rem 0 0;
                  font-family: 'Font Awesome\ 5 Free'; }
              html body #main-wrapper #main-header #menu .container-fluid button:hover {
                color: #248EB9; }
          html body #main-wrapper #main-header #menu.background {
            background-color: #0e3c54;
            border-bottom: 2px solid #fff;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            html body #main-wrapper #main-header #menu.background .container-fluid {
              border-bottom: 2px solid transparent;
              padding: 0.2rem 0;
              -webkit-transition: padding 0.5s ease;
              transition: padding 0.5s ease; }
              html body #main-wrapper #main-header #menu.background .container-fluid .author_name, html body #main-wrapper #main-header #menu.background .container-fluid button {
                color: #fff;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease; }
              html body #main-wrapper #main-header #menu.background .container-fluid .author_name {
                opacity: 0;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease; }
              html body #main-wrapper #main-header #menu.background .container-fluid button:hover {
                color: #248EB9; }
        html body #main-wrapper #main-header.admin #menu .container-fluid ul {
          width: 100%; }
          html body #main-wrapper #main-header.admin #menu .container-fluid ul .admin_button_menu {
            display: none; }
          html body #main-wrapper #main-header.admin #menu .container-fluid ul li {
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            html body #main-wrapper #main-header.admin #menu .container-fluid ul li:hover a {
              color: #248EB9; }
            html body #main-wrapper #main-header.admin #menu .container-fluid ul li:hover:before {
              color: #0e3c54; }
            html body #main-wrapper #main-header.admin #menu .container-fluid ul li a {
              color: #fff;
              font-size: 1rem;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
            html body #main-wrapper #main-header.admin #menu .container-fluid ul li:last-of-type a {
              padding-right: 0; }
            html body #main-wrapper #main-header.admin #menu .container-fluid ul li:before {
              color: #fff;
              padding-right: 0.5rem;
              font-size: 1rem;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
      html body #main-wrapper #main-content .highlighted_img_opacity {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
        background-color: #000;
        z-index: 1; }
      html body #main-wrapper #main-content #highlighted {
        min-height: 100vh;
        height: 100vh;
        position: relative;
        background: url(../../img/alaska3.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center; }
        html body #main-wrapper #main-content #highlighted #highlighted_content {
          display: inline-block;
          text-align: center;
          z-index: 2;
          color: #fff; }
          html body #main-wrapper #main-content #highlighted #highlighted_content h1 {
            width: auto;
            position: relative;
            line-height: 2;
            letter-spacing: 0.3rem; }
            html body #main-wrapper #main-content #highlighted #highlighted_content h1:before, html body #main-wrapper #main-content #highlighted #highlighted_content h1:after {
              position: absolute;
              content: "";
              width: 100%;
              height: 5px;
              background-color: #fff; }
            html body #main-wrapper #main-content #highlighted #highlighted_content h1:before {
              top: 0;
              left: 0; }
            html body #main-wrapper #main-content #highlighted #highlighted_content h1:after {
              bottom: 0;
              right: 0; }
          html body #main-wrapper #main-content #highlighted #highlighted_content h2 {
            padding: 1.5rem 0;
            font-size: 1.6rem;
            font-family: "RobotoLight", sans-serif;
            text-transform: uppercase; }
          html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content {
            position: absolute;
            bottom: 1.5rem;
            left: 0;
            right: 0; }
            html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a {
              background: none;
              border: 0;
              box-sizing: border-box;
              position: relative;
              color: #fff;
              cursor: pointer;
              width: 24px;
              height: 24px; }
              html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a::before, html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a::after {
                box-sizing: inherit;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%; }
              html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.spin {
                width: 5rem;
                height: 5rem;
                padding: 0; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.spin::before, html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.spin::after {
                  top: 0;
                  left: 0; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.spin:before {
                  border: 2px solid transparent;
                  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
                  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.spin::after {
                  border: 0 solid transparent;
                  -webkit-transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
                  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.spin:hover {
                  color: #248EB9; }
                  html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.spin:hover:before {
                    border-top-color: #248EB9;
                    border-right-color: #248EB9;
                    border-bottom-color: #248EB9; }
                  html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.spin:hover:after {
                    border-top: 2px solid #248EB9;
                    border-left-width: 2px;
                    border-right-width: 2px;
                    transform: rotate(270deg); }
              html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.circle {
                border-radius: 100%;
                box-shadow: none; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.circle::before, html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a.circle::after {
                  border-radius: 100%; }
              html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a .chevron {
                position: absolute;
                top: 0.25rem;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 28px;
                height: 8px;
                opacity: 0;
                -o-transform: scale3d(0.5, 0.5, 0.5);
                -moz-transform: scale3d(0.5, 0.5, 0.5);
                -webkit-transform: scale3d(0.5, 0.5, 0.5);
                transform: scale3d(0.5, 0.5, 0.5);
                -webkit-animation: scrollDown 3s ease-out infinite;
                animation: scrollDown 3s ease-out infinite; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a .chevron:first-child {
                  -webkit-animation: scrollDown 3s ease-out 1s infinite;
                  animation: scrollDown 3s ease-out 1s infinite; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a .chevron:nth-child(2) {
                  -webkit-animation: scrollDown 3s ease-out 2s infinite;
                  animation: scrollDown 3s ease-out 2s infinite; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a .chevron::before, html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a .chevron::after {
                  content: ' ';
                  position: absolute;
                  top: 0;
                  height: 100%;
                  width: 51%;
                  background-color: #fff;
                  -webkit-transition: background-color 0.25s ease;
                  transition: background-color 0.25s ease; }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a .chevron:before {
                  left: 0;
                  -o-transform: skew(0deg, 30deg);
                  -moz-transform: skew(0deg, 30deg);
                  -webkit-transform: skew(0deg, 30deg);
                  transform: skew(0deg, 30deg); }
                html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a .chevron:after {
                  right: 0;
                  width: 50%;
                  -o-transform: skew(0deg, -30deg);
                  -moz-transform: skew(0deg, -30deg);
                  -webkit-transform: skew(0deg, -30deg);
                  transform: skew(0deg, -30deg); }
              html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a:hover .chevron::before, html body #main-wrapper #main-content #highlighted #highlighted_content .arrow_content a:hover .chevron::after {
                background-color: #248EB9; }
      html body #main-wrapper #main-content #author_informations {
        background-color: #0e3c54; }
        html body #main-wrapper #main-content #author_informations .container .row {
          padding: 6rem 0; }
          html body #main-wrapper #main-content #author_informations .container .row .author_photo_box {
            padding: 0;
            max-width: 300px;
            height: 300px;
            -o-border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            margin: 0 auto;
            -o-box-shadow: 0 0 50px 2px black;
            -moz-box-shadow: 0 0 50px 2px black;
            -webkit-box-shadow: 0 0 50px 2px black;
            box-shadow: 0 0 50px 2px black;
            overflow: hidden; }
            html body #main-wrapper #main-content #author_informations .container .row .author_photo_box .author_photo {
              background: url(../../img/photo1.jpg) no-repeat center center;
              background-size: cover;
              width: 100%;
              height: 100%;
              -o-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1);
              -webkit-transition: transform 0.5s ease;
              transition: transform 0.5s ease; }
            html body #main-wrapper #main-content #author_informations .container .row .author_photo_box:hover .author_photo {
              -o-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -webkit-transform: scale(1.2);
              transform: scale(1.2); }
          html body #main-wrapper #main-content #author_informations .container .row .author_description {
            color: #fff; }
            html body #main-wrapper #main-content #author_informations .container .row .author_description .author_description_title {
              display: inline-block;
              text-transform: uppercase;
              padding-bottom: 2rem;
              position: relative; }
            html body #main-wrapper #main-content #author_informations .container .row .author_description .author_description_content {
              font-size: 1rem; }
      html body #main-wrapper #main-content #chapters_list_home {
        text-align: center;
        background-color: #fff;
        padding: 6rem 0;
        background-color: #fff; }
        html body #main-wrapper #main-content #chapters_list_home h2 {
          text-align: center;
          color: #0e3c54;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          padding-bottom: 2rem; }
          html body #main-wrapper #main-content #chapters_list_home h2:after {
            background-color: #0e3c54; }
        html body #main-wrapper #main-content #chapters_list_home .row {
          padding: 5rem 0;
          display: flex;
          justify-content: space-between; }
          html body #main-wrapper #main-content #chapters_list_home .row.row {
            padding-bottom: 2rem; }
        html body #main-wrapper #main-content #chapters_list_home .btn {
          background-color: #248EB9;
          border: #248EB9 2px solid;
          padding: 0.5rem 0;
          font-family: "RobotoBold", sans-serif;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          html body #main-wrapper #main-content #chapters_list_home .btn:hover {
            color: #248EB9;
            background-color: #fff; }
      html body #main-wrapper #main-content.chapter_detail #highlighted, html body #main-wrapper #main-content.chapters_list #highlighted, html body #main-wrapper #main-content.connexion #highlighted {
        min-height: initial;
        height: 60vh; }
        html body #main-wrapper #main-content.chapter_detail #highlighted #highlighted_content, html body #main-wrapper #main-content.chapters_list #highlighted #highlighted_content, html body #main-wrapper #main-content.connexion #highlighted #highlighted_content {
          padding-top: 84px; }
          html body #main-wrapper #main-content.chapter_detail #highlighted #highlighted_content h2, html body #main-wrapper #main-content.chapters_list #highlighted #highlighted_content h2, html body #main-wrapper #main-content.connexion #highlighted #highlighted_content h2 {
            font-size: 2rem; }
      html body #main-wrapper #main-content.chapter_detail #chapters_list .row, html body #main-wrapper #main-content.chapters_list #chapters_list .row, html body #main-wrapper #main-content.connexion #chapters_list .row {
        padding: 5rem 0;
        display: flex;
        justify-content: space-between; }
      html body #main-wrapper #main-content.chapter_detail #comments, html body #main-wrapper #main-content.chapters_list #comments, html body #main-wrapper #main-content.connexion #comments {
        padding: 4rem;
        background-color: #0e3c54;
        position: relative; }
        html body #main-wrapper #main-content.chapter_detail #comments header, html body #main-wrapper #main-content.chapters_list #comments header, html body #main-wrapper #main-content.connexion #comments header {
          text-align: center; }
          html body #main-wrapper #main-content.chapter_detail #comments header h2, html body #main-wrapper #main-content.chapters_list #comments header h2, html body #main-wrapper #main-content.connexion #comments header h2 {
            font-size: 2rem;
            padding-bottom: 2rem;
            margin-bottom: 4rem;
            display: inline-block;
            color: #fff;
            text-transform: uppercase; }
      html body #main-wrapper #main-content.connexion {
        min-height: calc(100vh - 66px); }
        html body #main-wrapper #main-content.connexion .connexion_form {
          padding: 3rem 0; }
          html body #main-wrapper #main-content.connexion .connexion_form .input-group .input-group-prepend {
            width: 25%; }
            html body #main-wrapper #main-content.connexion .connexion_form .input-group .input-group-prepend span {
              font-size: 0.9rem;
              width: 100%;
              background-color: #0e3c54;
              color: #fff;
              font-weight: bold;
              border: 1px solid #0e3c54; }
          html body #main-wrapper #main-content.connexion .connexion_form .input-group input {
            border: 1px solid #0e3c54; }
          html body #main-wrapper #main-content.connexion .connexion_form .button {
            padding: 2rem 0; }
            html body #main-wrapper #main-content.connexion .connexion_form .button .btn {
              padding: 0.5rem 0;
              background-color: #0e3c54;
              border: 2px solid #0e3c54;
              font-weight: bold;
              text-transform: uppercase;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
              html body #main-wrapper #main-content.connexion .connexion_form .button .btn:hover {
                background-color: #fff;
                color: #0e3c54; }
      html body #main-wrapper #main-content.admin #highlighted {
        min-height: 50vh;
        height: 50vh; }
        html body #main-wrapper #main-content.admin #highlighted #highlighted_content {
          padding-top: 5rem; }
      html body #main-wrapper #main-content.admin .container .admin_list {
        padding: 2rem 0; }
        html body #main-wrapper #main-content.admin .container .admin_list p .type_comments {
          font-size: 1rem;
          color: #0e3c54;
          font-family: "RobotoRegular", sans-serif;
          padding: 0.5rem 3rem;
          margin: 2rem 0 4rem 0;
          position: relative;
          border: 2px solid #0e3c54; }
          html body #main-wrapper #main-content.admin .container .admin_list p .type_comments.showed {
            color: #fff;
            background-color: #0e3c54;
            font-family: "RobotoBold", sans-serif; }
        html body #main-wrapper #main-content.admin .container .admin_list p:first-child .type_comments {
          margin-left: 0; }
        html body #main-wrapper #main-content.admin .container .admin_list .bloc {
          padding: 2rem 0;
          border-top: 3px solid #0e3c54; }
          html body #main-wrapper #main-content.admin .container .admin_list .bloc:first-of-type {
            border-top: 3px solid transparent; }
          html body #main-wrapper #main-content.admin .container .admin_list .bloc .bloc_element {
            padding: 0.5rem 0; }
            html body #main-wrapper #main-content.admin .container .admin_list .bloc .bloc_element.content {
              max-height: 50px;
              overflow: hidden;
              word-break: break-word;
              max-width: 100%; }
          html body #main-wrapper #main-content.admin .container .admin_list .bloc .bloc_button {
            text-align: right; }
            html body #main-wrapper #main-content.admin .container .admin_list .bloc .bloc_button p {
              display: inline-block;
              width: 100%;
              padding: 1rem 0; }
              html body #main-wrapper #main-content.admin .container .admin_list .bloc .bloc_button p a {
                width: 100%; }
      html body #main-wrapper #main-content.admin .container .admin_form form {
        padding: 1rem 0; }
        html body #main-wrapper #main-content.admin .container .admin_form form .form_field {
          padding: 1.5rem 0; }
          html body #main-wrapper #main-content.admin .container .admin_form form .form_field .label_field {
            font-size: 1rem;
            padding-bottom: 1rem; }
            html body #main-wrapper #main-content.admin .container .admin_form form .form_field .label_field + .label_field {
              font-size: 0.9rem; }
          html body #main-wrapper #main-content.admin .container .admin_form form .form_field .btn {
            margin: 1rem;
            width: 20%;
            font-weight: bold; }
            html body #main-wrapper #main-content.admin .container .admin_form form .form_field .btn.btn-success {
              background-color: #248EB9;
              border: 2px solid #248EB9;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
              html body #main-wrapper #main-content.admin .container .admin_form form .form_field .btn.btn-success:hover {
                background-color: #fff;
                color: #248EB9; }
            html body #main-wrapper #main-content.admin .container .admin_form form .form_field .btn.btn-danger {
              background-color: #ff7700;
              border: 2px solid #ff7700;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
              html body #main-wrapper #main-content.admin .container .admin_form form .form_field .btn.btn-danger a {
                color: #fff;
                font-weight: bold;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease; }
              html body #main-wrapper #main-content.admin .container .admin_form form .form_field .btn.btn-danger:hover {
                background-color: #fff; }
                html body #main-wrapper #main-content.admin .container .admin_form form .form_field .btn.btn-danger:hover a {
                  color: #ff7700; }
      html body #main-wrapper #main-footer {
        background-color: #0e3c54;
        border-top: 1px solid #fff;
        position: relative;
        padding: 1.5rem;
        width: 100%;
        text-align: center; }
        html body #main-wrapper #main-footer .footer_copyright,
        html body #main-wrapper #main-footer .footer_realisation {
          font-size: 0.9rem;
          color: #fff; }
          html body #main-wrapper #main-footer .footer_copyright strong a,
          html body #main-wrapper #main-footer .footer_realisation strong a {
            color: #248EB9;
            cursor: pointer;
            font-weight: bold; }
          html body #main-wrapper #main-footer .footer_copyright + span,
          html body #main-wrapper #main-footer .footer_realisation + span {
            padding-left: 1rem;
            position: relative; }
            html body #main-wrapper #main-footer .footer_copyright + span:before,
            html body #main-wrapper #main-footer .footer_realisation + span:before {
              content: "";
              left: 5px;
              top: -2px;
              position: absolute;
              width: 1px;
              height: 20px;
              background-color: #fff; }
      html body #main-wrapper .chapter {
        text-align: left;
        position: relative;
        padding: 2rem 0 4rem 0; }
        html body #main-wrapper .chapter.chapter_mini {
          -o-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          -webkit-transition: box-shadow 0.5s ease;
          transition: box-shadow 0.5s ease;
          background-color: #fff;
          overflow: hidden;
          padding: 0;
          margin-top: 5rem; }
          html body #main-wrapper .chapter.chapter_mini:first-child, html body #main-wrapper .chapter.chapter_mini:nth-child(2) {
            margin-top: 0; }
          html body #main-wrapper .chapter.chapter_mini .chapter_thumb {
            width: auto;
            height: 350px;
            z-index: 1;
            overflow: hidden;
            background-color: #000;
            -webkit-transition: height 0.5s ease;
            transition: height 0.5s ease; }
            html body #main-wrapper .chapter.chapter_mini .chapter_thumb img {
              width: 100%;
              height: 350px;
              display: block;
              opacity: 1;
              -o-transform: scale(1);
              -moz-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1);
              -webkit-transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
              transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease; }
          html body #main-wrapper .chapter.chapter_mini .chapter_date {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            width: 3.5rem;
            height: 3.5rem;
            padding-top: 0.7rem;
            font-size: 1rem;
            color: #fff;
            background-color: #248EB9;
            text-align: center;
            line-height: 1.3;
            -o-border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%; }
            html body #main-wrapper .chapter.chapter_mini .chapter_date span {
              display: block;
              font-weight: bold; }
            html body #main-wrapper .chapter.chapter_mini .chapter_date_month {
              font-size: 0.6rem;
              text-transform: uppercase; }
          html body #main-wrapper .chapter.chapter_mini .chapter_body {
            background-color: #0e3c54;
            height: 160px;
            padding: 1.5rem;
            -webkit-transition: height 0.5s ease;
            transition: height 0.5s ease; }
            html body #main-wrapper .chapter.chapter_mini .chapter_body .chapter_title,
            html body #main-wrapper .chapter.chapter_mini .chapter_body .chapter_subtitle {
              padding: 0 0 0.6rem 0; }
            html body #main-wrapper .chapter.chapter_mini .chapter_body .chapter_title {
              color: #fff;
              font-size: 1.5rem;
              text-transform: initial;
              -webkit-transition: color 0.5s ease;
              transition: color 0.5s ease; }
              html body #main-wrapper .chapter.chapter_mini .chapter_body .chapter_title:hover {
                color: #248EB9; }
              html body #main-wrapper .chapter.chapter_mini .chapter_body .chapter_title a {
                font-weight: bold; }
            html body #main-wrapper .chapter.chapter_mini .chapter_body .chapter_subtitle {
              color: #248EB9;
              font-size: 1.2rem;
              text-transform: uppercase; }
            html body #main-wrapper .chapter.chapter_mini .chapter_body .chapter_body_date_creation {
              display: none; }
            html body #main-wrapper .chapter.chapter_mini .chapter_body .chapter_description {
              color: #fff;
              font-size: 0.9rem;
              opacity: 0;
              position: absolute;
              bottom: 3.5rem;
              left: 0;
              margin: 0;
              padding: 1rem 1.5rem;
              max-height: 170px;
              overflow: hidden;
              -webkit-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s;
              transition: opacity 0.4s ease 0s, transform 0.4s ease 0s;
              -o-transform: translateY(25px);
              -moz-transform: translateY(25px);
              -webkit-transform: translateY(25px);
              transform: translateY(25px); }
          html body #main-wrapper .chapter.chapter_mini .chapter_footer {
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            left: 1.5rem;
            font-size: 0.9rem;
            z-index: 3; }
            html body #main-wrapper .chapter.chapter_mini .chapter_footer .icon_comments a {
              font-size: 1rem;
              color: #fff;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
              html body #main-wrapper .chapter.chapter_mini .chapter_footer .icon_comments a:hover {
                color: #248EB9; }
          html body #main-wrapper .chapter.chapter_mini:hover {
            -o-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); }
            html body #main-wrapper .chapter.chapter_mini:hover .chapter_thumb {
              height: 200px; }
              html body #main-wrapper .chapter.chapter_mini:hover .chapter_thumb img {
                opacity: 0.6;
                -o-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
                -webkit-filter: blur(3px);
                -moz-filter: blur(3px);
                -o-filter: blur(3px);
                filter: blur(3px); }
            html body #main-wrapper .chapter.chapter_mini:hover .chapter_body {
              height: 310px; }
              html body #main-wrapper .chapter.chapter_mini:hover .chapter_body .chapter_title,
              html body #main-wrapper .chapter.chapter_mini:hover .chapter_body .chapter_subtitle {
                -webkit-animation: titleBlur 0.5s ease;
                animation: titleBlur 0.5s ease; }
              html body #main-wrapper .chapter.chapter_mini:hover .chapter_body .chapter_description {
                opacity: 1;
                -webkit-transition-delay: 0.1s;
                -moz-transition-delay: 0.1s;
                -o-transition-delay: 0.1s;
                transition-delay: 0.1s;
                -o-transform: translateY(0);
                -moz-transform: translateY(0);
                -webkit-transform: translateY(0);
                transform: translateY(0); }
        html body #main-wrapper .chapter a {
          color: inherit; }
        html body #main-wrapper .chapter .chapter_body {
          position: relative;
          padding: 2rem;
          color: #0e3c54; }
          html body #main-wrapper .chapter .chapter_body .chapter_body_head {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0; }
          html body #main-wrapper .chapter .chapter_body .chapter_title,
          html body #main-wrapper .chapter .chapter_body .chapter_subtitle,
          html body #main-wrapper .chapter .chapter_body .chapter_body_date_creation {
            margin: 0;
            padding: 0 0 1.5rem 0; }
          html body #main-wrapper .chapter .chapter_body .chapter_body_date_creation {
            display: inline-block;
            font-style: italic;
            color: #0e3c54;
            font-size: 1.2rem; }
          html body #main-wrapper .chapter .chapter_body .chapter_description {
            text-align: justify;
            color: #0e3c54;
            font-size: 1.1rem;
            line-height: 1.5; }
        html body #main-wrapper .chapter .icon_comments {
          display: inline-block;
          color: #248EB9; }
          html body #main-wrapper .chapter .icon_comments a {
            font-size: 1.2rem; }
            html body #main-wrapper .chapter .icon_comments a .far {
              font-weight: 800;
              margin-right: 0.5rem;
              font-size: inherit; }
@keyframes titleBlur {
  0% {
    opacity: 0.6;
    -o-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    -moz-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    -webkit-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0); }
  20% {
    opacity: 0.6;
    -o-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }
  100% {
    opacity: 1;
    -o-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    -moz-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    -webkit-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0); } }
      html body #main-wrapper .bloc_comments_details > p {
        font-size: 1rem;
        color: #fff;
        font-weight: bold;
        padding-top: 2rem; }
      html body #main-wrapper .bloc_comments_details .comments_details {
        position: relative;
        padding: 2rem;
        margin: 2rem 2rem 4rem 0;
        background-color: #fff;
        border: 2px solid #0e3c54;
        -o-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        html body #main-wrapper .bloc_comments_details .comments_details p {
          font-size: 0.9rem;
          color: #0e3c54;
          padding: 0.5rem 0;
          font-weight: bold; }
        html body #main-wrapper .bloc_comments_details .comments_details .comments_pseudo {
          text-transform: uppercase;
          position: absolute;
          left: 2rem;
          top: -2rem;
          background-color: #0e3c54;
          border: 2px solid #fff;
          padding: 0 1rem;
          max-width: 85%; }
          html body #main-wrapper .bloc_comments_details .comments_details .comments_pseudo p {
            color: #fff;
            font-weight: bold;
            font-size: 1rem;
            overflow: hidden;
            word-break: break-word; }
        html body #main-wrapper .bloc_comments_details .comments_details .comments_statut {
          font-family: "RobotoRegular", sans-serif; }
          html body #main-wrapper .bloc_comments_details .comments_details .comments_statut:before {
            margin-right: 0.5rem;
            font-weight: 800;
            font-family: 'Font Awesome\ 5 Free'; }
          html body #main-wrapper .bloc_comments_details .comments_details .comments_statut.publish {
            color: #47B03F; }
            html body #main-wrapper .bloc_comments_details .comments_details .comments_statut.publish:before {
              color: inherit; }
          html body #main-wrapper .bloc_comments_details .comments_details .comments_statut.reported {
            color: #BF1405; }
            html body #main-wrapper .bloc_comments_details .comments_details .comments_statut.reported:before {
              color: inherit; }
        html body #main-wrapper .bloc_comments_details .comments_details .comments_creation p {
          font-weight: normal; }
        html body #main-wrapper .bloc_comments_details .comments_details .comments_content {
          font-weight: none; }
          html body #main-wrapper .bloc_comments_details .comments_details .comments_content::after {
            bottom: initial;
            top: 0.5rem;
            background-color: #0e3c54;
            height: 2px;
            width: 10%; }
          html body #main-wrapper .bloc_comments_details .comments_details .comments_content p {
            font-size: 1rem;
            padding: 1.5rem 0 0 0;
            word-break: break-word; }
        html body #main-wrapper .bloc_comments_details .comments_details .comments_reported {
          position: absolute;
          top: -1rem;
          right: -1rem; }
          html body #main-wrapper .bloc_comments_details .comments_details .comments_reported .comment_signal {
            position: relative;
            border: #0e3c54;
            -o-border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            background-color: #0e3c54;
            border: 2px solid #fff;
            cursor: pointer;
            -webkit-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease; }
            html body #main-wrapper .bloc_comments_details .comments_details .comments_reported .comment_signal:before {
              position: absolute;
              display: inline-block;
              text-align: center;
              top: 50%;
              right: 0;
              left: 0;
              font-size: 1.5rem;
              color: white;
              -o-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              border: #0e3c54;
              -o-border-radius: 50%;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              border-radius: 50%; }
            html body #main-wrapper .bloc_comments_details .comments_details .comments_reported .comment_signal.reported, html body #main-wrapper .bloc_comments_details .comments_details .comments_reported .comment_signal:hover {
              background-color: #BF1405; }
      html body #main-wrapper .bloc_comments_add {
        position: relative; }
        html body #main-wrapper .bloc_comments_add .add_comment {
          padding-top: 2rem;
          position: sticky;
          top: 70px;
          right: 0; }
          html body #main-wrapper .bloc_comments_add .add_comment .add_comment_title {
            color: #fff;
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: 0.2rem;
            text-align: center;
            padding-bottom: 2rem; }
            html body #main-wrapper .bloc_comments_add .add_comment .add_comment_title::after {
              height: 2px;
              width: 20%; }
          html body #main-wrapper .bloc_comments_add .add_comment .add_comment_form {
            padding: 2rem 0;
            width: 80%;
            margin: 0 auto; }
            html body #main-wrapper .bloc_comments_add .add_comment .add_comment_form input,
            html body #main-wrapper .bloc_comments_add .add_comment .add_comment_form textarea {
              display: block;
              width: 100%;
              padding: 0.75rem;
              margin: 1.5rem 0;
              -o-border-radius: 5px;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              border: 1px solid transparent;
              color: #0e3c54;
              font-size: 1rem; }
            html body #main-wrapper .bloc_comments_add .add_comment .add_comment_form input:first-of-type {
              margin-top: 0; }
            html body #main-wrapper .bloc_comments_add .add_comment .add_comment_form input[type="submit"] {
              background-color: #ff7700;
              border: 1px solid transparent;
              color: #fff;
              text-transform: uppercase;
              font-weight: bold;
              cursor: pointer;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
              html body #main-wrapper .bloc_comments_add .add_comment .add_comment_form input[type="submit"]:hover {
                color: #fff;
                background-color: #0e3c54;
                border-color: #fff; }

/* Extra small devices (phones, less than 767px) */
@media only screen and (max-width: 320px) {
  html body {
    font-size: 9px !important; } }
/* Small devices (tablets, 321px and up) */
/* Medium devices (desktops, 768px and up) */
/* Large devices (desktops, 993px and up) */
/* Very Large devices (desktops, 2000px and up) */
@media only screen and (min-width: 2000px) {
  html body #main-wrapper #main-content #eLearning {
    background-position: bottom 20% left -5%, top 10% right 3%; } }

/*# sourceMappingURL=styles.css.map */
