/**
*
* Colors
*
**/

$white: #fff;
$black: #000;

/* Blue */
$blueDark: #0e3c54;
$blueLight: #248EB9;

/* Grey */
$greyDark: #333333;
$greyLight: #a5a5a5;

/* Green */
$greenDark: #47B03F;

/* Red */
$redDark: #BF1405;

/* Orange */
$orangeDark: #ff7700;

