/**
*
* Commons Articles Elements
*
**/


.chapter{
    &.chapter_mini{
        @include box-shadow(0, 0, 20px, 0, rgba(0, 0, 0, 0.1));
        @include transition(box-shadow $duration ease);
        background-color: $white;
        overflow: hidden;
        padding: 0;
        margin-top: 5rem;
        &:first-child, &:nth-child(2){
            margin-top: 0;
        }
        .chapter_thumb {
            width: auto;
            height: 350px;
            z-index: 1;
            overflow: hidden;
            background-color: $black;
            @include transition(height $duration ease);
            img {
                width: 100%;
                height: 350px;
                display: block;
                opacity: 1;
                @include transform(scale(1));
                @include transition(opacity $duration ease, transform $duration ease, filter $duration ease);
            }
        }
        .chapter_date {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            width: 3.5rem;
            height: 3.5rem;
            padding-top: 0.7rem;
            font-size: 1rem;
            color: $white;
            background-color: $blueLight;
            text-align: center;
            line-height: 1.3;
            @include border-radius(50%);
            span {
                display: block;
                font-weight: bold;
            }
            &_month {
                font-size: 0.6rem;
                text-transform: uppercase;
            }
        }
        .chapter_body {
            background-color: $blueDark;
            height: 160px;
            padding: 1.5rem;
            @include transition(height $duration ease);
            .chapter_title,
            .chapter_subtitle{
                padding: $padding_articles_mini;
            }
            .chapter_title {
                color: $white;
                font-size: 1.5rem;
                text-transform: initial;
                @include transition(color $duration ease);
                &:hover {
                    color: $blueLight;
                }
                a {
                    font-weight: bold;
                }
            }
            .chapter_subtitle{
                color: $blueLight;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
            .chapter_body_date_creation {
                display: none;
            }
            .chapter_description {
                color: $white;
                font-size: 0.9rem;
                opacity: 0;
                position: absolute;
                bottom: 3.5rem;
                left: 0;
                margin: 0;
                padding: 1rem 1.5rem;
                max-height: 170px;
                overflow: hidden;
                @include transition(opacity $duration_descritpion ease 0s, transform $duration_descritpion ease 0s);
                @include transform(translateY(25px));
            }
        }
        .chapter_footer {
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            left: 1.5rem;
            font-size: 0.9rem;
            z-index: 3;
            .icon_comments {
                a {
                    font-size: 1rem;
                    color: $white;
                    @include transition(all 0.5s ease);
                    &:hover{
                        color: $blueLight;
                    }
                }
            }
        }
        &:hover {
            @include box-shadow(0, 0, 50px, 0, rgba(0, 0, 0, 0.3));
            .chapter_thumb {
                height: 200px;
                img {
                    opacity: 0.6;
                    @include transform(scale(1.2));
                    @include filter(blur(3px));
                }
            }
            .chapter_body {
                height: 310px;
                .chapter_title,
                .chapter_subtitle {
                    @include animation(titleBlur $duration ease);
                }
                .chapter_description {
                    opacity: 1;
                    @include transition-delay(0.1s);
                    @include transform(translateY(0));
                }
            }
        }
    }
    text-align: left;
    position: relative;
    padding: 2rem 0 4rem 0;
    a{
        color: inherit;
    }
    .chapter_body{
        position: relative;
        padding: 2rem;
        color: $blueDark;
        .chapter_body_head{
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
        }
        .chapter_title,
        .chapter_subtitle,
        .chapter_body_date_creation {
            margin: 0;
            padding: $padding_articles_full;
        }
        .chapter_body_date_creation {
            display: inline-block;
            font-style: italic;
            color: $blueDark;
            font-size: 1.2rem;
        }
        .chapter_description{
            text-align: justify;
            color: $blueDark;
            font-size: 1.1rem;
            line-height: 1.5;
        }
    }
    .icon_comments{
        display: inline-block;
        color: $blueLight;
        a{
            font-size: 1.2rem;
            .far{
                font-weight: 800;
                margin-right: 0.5rem;
                font-size: inherit;
            }
        }
    }
}


    /** Animation **/

    @keyframes titleBlur {
        0% {
            opacity: 0.6;
            @include text-shadow(0px, 5px, 5px, rgba(0,0,0,0));
        }
        20% {
            opacity: 0.6;
            @include text-shadow(0px, 5px, 5px, rgba(0, 0, 0, 0.6));
        }
        100% {
            opacity: 1;
             @include text-shadow(0px, 5px, 5px, rgba(0,0,0,0));
        }
    }